body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{

    margin-top:4px;
    
    padding:0;
  
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }

    .aclonica-regular {
        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

    .container{
        width:80%;
        margin: 0 auto;
    }
    .nav{
        width:100%;
        height: 80px;
        text-decoration: none;
        
    }
    .nav a:hover{
      text-decoration: none;
    }

    .button {
        background-color: #ffffff; 
        border-width: 2px;
        border-color: #6A50F3;
        color: #6A50F3;
        padding: 8px 20px 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
      }
      .button:hover{
        background-color: #6A50F3; 
        border-width: 2px;
        border-color: #6A50F3;
        color: #ffffff;
        padding: 8px 20px 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
      }
      
      .button1 {
        border-radius: 8px;
        background-color: #6A50F3; 
        border-width: 2px;
        border-color: #6A50F3;
        color: #fff;
        padding: 8px 20px 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }
    .button1:hover{
        background-color: #fff; 
        border-width: 2px;
        border-color: #fff;
        color: #6A50F3;
        padding: 8px 20px 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
      }

      .button2 {border-radius: 4px;}
      .button3 {border-radius: 8px;}
      .button4 {border-radius: 12px;}
      .button5 {border-radius: 50%;}

      a{
        color:#000;
        text-decoration: underline;
    }
    a:hover{
        color:#000;
        text-decoration: none;
        text-decoration-color: #000;
        border-bottom:1px dotted; 
    }
    .nav-mobile{
        width:80%;
        margin: 0 auto;
        height: 100px;
        background-color: #ffffff;
        
    }
    .billboard{
        padding-top: 80px;
        margin: 0 auto;
        background-image: url(images/hero-bg.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 474px;
        font-size: 45px;
    }
    .billboard-design{
        padding-top: 80px;
        margin: 0 auto;
        background-image: url(images/design-hero.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 474px;
        font-size: 45px;
    }
    .billboard-marketing{
        padding-top: 80px;
        margin: 0 auto;
        background-image: url(images/marketing-hero.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 474px;
        font-size: 45px;
    }
    .billboard-mobile{
        padding-top: 30px;
        background-color: black;
        padding-bottom: 30px;
    }
    .products{
        width: 80%;
        margin: 40px auto;
        
    }
    .product-title{
        font-size: 36px;
        text-align: center;
       
    }
    .product-list{
        font-size: 28px;
    }
    .product-1{
        margin-top: 60px;
        padding-left: 20px;
        padding-top:20px;
        background-color: #FCF8FF;
        height: 465px;
        font-size: 28px;
        border-radius: 8px;
    }
    .secondary-button {
        background-color: white;
        color: #6A50F3; /* Adjust the color as needed */
        border: 2px solid #6A50F3;/* Border color matching the text color */
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px; /* Optional: rounded corners */
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    }
    
    .secondary-button:hover {
        background-color:#6A50F3; /* Background color on hover */
        color: white; /* Text color on hover */
    }
    .approach{
        background-color: #F8F7F7;
        padding-bottom: 24px;

    }
    .approach-title{
        margin-top: 40px;
        padding-top: 40px;
        background-color: #F8F7F7;
        font-size: 36px;
        text-align: center;
    }

    .tile{
        margin-top: 20px;
        background-color: #fff;
        border: 1px solid #B9B9B9;
        border-radius: 8px;
        padding-bottom: 24px;
        padding-left: 24px;
        padding-top: 20px;
    }
    .custom-bullet {
        list-style-type: none; /* Remove default bullets */
    }
    
    .custom-bullet li {
        padding-left: 30px; /* Adjust padding to make space for the image */
        background: url('images/check.png') no-repeat left top; /* Replace with your image path */
        background-size: 22px 25px; /* Adjust size as needed */
        line-height: 25px; /* Adjust line-height to align with image size */
        padding-right:24px;
    }
    .products1-last{
        margin-top: 60px;
        padding-left: 20px;
        padding-top:20px;
        background-color: #FCF8FF;
        height: 380px;
        font-size: 28px;
        border-radius: 8px;

    }
    .strive-roi{
        margin-top: 40px;
        background-color: #6A50F3;
        text-align: center;
        color: white;
        padding-top: 24px;
        padding-bottom: 44px;
    }
    .footer{
        margin-top: -8px;
        width: 100%;
        background-color: #222729;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .design-services{
        margin-top: 80px;
    }
    .design-services-sm{
        margin-top: 30px;
    }
    .design-services ul{
            list-style-type: disc;
            columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;
            margin-left: 12px;
            margin-top: 4px;
    }
    .design-services-sm ul{
        list-style-type: disc;
        margin-left: 12px;
        margin-top: 4px;
}
    .marketing-services{
        margin-top: 80px;
    }
    .marketing-services-sm{
        margin-top: 40px;
    }
    .marketing-services ul{
        margin-left: 12px;
            margin-top: 4px;
    }
    .marketing-services-sm ul{
        margin-left: 12px;
            margin-top: 4px;
    }
  

    @media screen and (min-width: 1201px){
           
        .nav-mobile{
            display: none;
        }
        .product-1-sm{
            display: none;
        }
        .products1-last-sm{
            display: none;
        }
        .footer-sm{
            display: none;
        }
        .billboard-mobile{
            display: none;
        }
        .hero-image-sm{
            display: none;
        }
        .product-title-sm{
            display: none;
        }
        .approach-title-sm{
            display: none;
        }
        h1{
            font-size: 45px;
        }
        h2{
            font-size:40px;
        }
        .design-services-sm{
            display: none;
        }
        .marketing-services-sm{
            display: none;
        }
    }
        
     @media screen and (max-width: 1200px){
            h1{
                font-size: 32px;
            }
            h2{
                font-size: 28px;
            }
            .nav{
                display: none;
            }
           
            .navbar-expand-lg{
                border-color: #000;
            }
            .product-1{
                display: none;
            }
            .product-1-sm{
                margin-top: 60px;
                padding-left: 20px;
                padding-top:20px;
                background-color: #FCF8FF;
                height: 320px;
                font-size: 18px;
                border-radius: 8px;

            }
            .products1-last{
                display: none;
            }
            .products1-last-sm{
                margin-top: 60px;
                padding-left: 20px;
                padding-top:20px;
                background-color: #FCF8FF;
                height: 250px;
                font-size: 18px;
                border-radius: 8px;
            }
            .footer{
                display: none;
            }
            .footer-sm{
                margin-top: -8px;
                width: 100%;
                background-color: #222729;
                padding-top: 24px;
                padding-bottom: 24px;
                text-align: center;
        
            }
            .billboard{
                display: none;
            }
            .product-title{
                display: none;
            }
            .product-title-sm{
                font-size: 28px;
                text-align: center;
            }
            .approach-title{
                display: none;
            }
            .approach-title-sm{
                font-size: 28px;
                text-align: center;
            }
            .billboard-design{
                display: none;
            }
            .design-services{
                display: none;
            }
            .marketing-services{
                display: none;
            }
            .billboard-marketing{
                display: none;
            }
        
    }
